
/dts-v1/;
#include <dt-bindings/gpio/gpio.h>
#include "exynos4412.dtsi"

/ {
	model = "Samsung GT-I9300 based on Exynos4412";

	compatible = "samsung,i9300", "samsung,exynos4412", "samsung,exynos4";

	aliases {
		i2c8 = &i2c_max77693;
		i2c9 = &i2c_fg;
		mmc0 = &mshc_0;
		mmc1 = &sdhci2;
	};

	chosen {
		stdout-path = &serial_2;
	};

	i2c_fg: fuel-gauge {
		compatible = "i2c-gpio";
		gpios = <&gpf1 5 0>,	/* sda */
			<&gpf1 4 0>;	/* scl */
		i2c-gpio,delay-us = <2>;        /* ~100 kHz */
		status = "okay";

		#address-cells = <1>;
		#size-cells = <0>;

		max17047_fuelgauge@36 {
			compatible = "maxim,max17047-fuelgauge";
			reg = <0x36>;
			#address-cells = <1>;

			fuelgauge {
				/* Following values obtained from proprietary bootloader */
				maxim,cell-character0 =
					<0xa890 0xb780 0xb9a0 0xbbf0 0xbc30 0xbc80 0xbcf0 0xbd50
					0xbe60 0xbfb0 0xc1b0 0xc4b0 0xc560 0xcce0 0xd170 0xd7a0>;

				maxim,cell-character1 =
					<0x0150 0x1000 0x0c10 0x3850 0x2e50 0x32f0 0x3040 0x12f0
					0x0fe0 0x1090 0x09e0 0x0bd0 0x0820 0x0720 0x0700 0x0700>;

				maxim,cell-character2 =
					<0x0100 0x0100 0x0100 0x0100 0x0100 0x0100 0x0100 0x0100
					0x0100 0x0100 0x0100 0x0100 0x0100 0x0100 0x0100 0x0100>;
				maxim,rcomp0 = <0x65>;
				maxim,tempco = <0x930>;
			};
		};
	};

	i2c_max77693: max77693 {
		compatible = "i2c-gpio";
		gpios = <&gpm2 0 0>,	/* sda */
		       <&gpm2 1 0>;	/* scl */
		i2c-gpio,delay-us = <2>;        /* ~100 kHz */
		status = "okay";
		#address-cells = <1>;
		#size-cells = <0>;

		max77693_muic@25 {
			compatible = "maxim,max77693-muic";
			reg = <0x25>;

			muic-max77693 {
				/* empty node to allow probing */
			};
		};

		max77693_charger@66 {
			compatible = "maxim,max77693-charger";
			interrupt-parent = <&gpx1>;
			interrupts = <5 2>;
			reg = <0x66>;

			regulators {
				esafeout1_reg: ESAFEOUT1 {
					regulator-name = "ESAFEOUT1";
				};

				esafeout2_reg: ESAFEOUT2 {
					regulator-name = "ESAFEOUT2";
				};

				charger_reg: CHARGER {
					regulator-name = "CHARGER";
					regulator-min-microamp = <60000>;
					regulator-max-microamp = <2580000>;
				};
			};
		};
	};
};

&i2c_7 {
	samsung,i2c-sda-delay = <100>;
	samsung,i2c-slave-addr = <0x10>;
	samsung,i2c-max-bus-freq = <100000>;
	status = "okay";

	max77686: max77686_pmic@9 {
		compatible = "maxim,max77686";
		interrupt-parent = <&gpx0>;
		interrupts = <7 0>;
		reg = <0x09 0 0>;
		#clock-cells = <1>;

		voltage-regulators {
			ldo1_reg: LDO1 {
				regulator-compatible = "LDO1";
				regulator-name = "VALIVE_1.0V_AP";
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <1000000>;
				regulator-always-on;
				regulator-mem-on;
			};

			ldo2_reg: LDO2 {
				regulator-compatible = "LDO2";
				regulator-name = "VM1M2_1.2V_AP";
				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <1200000>;
				regulator-always-on;
				regulator-mem-on;
			};

			ldo3_reg: LDO3 {
				regulator-compatible = "LDO3";
				regulator-name = "VCC_1.8V_AP";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-always-on;
				regulator-mem-on;
			};

			ldo4_reg: LDO4 {
				regulator-compatible = "LDO4";
				regulator-name = "VCC_2.8V_AP";
				regulator-min-microvolt = <2800000>;
				regulator-max-microvolt = <2800000>;
				regulator-always-on;
				regulator-mem-on;
			};

			ldo5_reg: LDO5 {
				regulator-compatible = "LDO5";
				regulator-name = "VCC_1.8V_IO";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-always-on;
				regulator-mem-on;
			};

			ldo6_reg: LDO6 {
				regulator-compatible = "LDO6";
				regulator-name = "VMPLL_1.0V_AP";
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <1000000>;
				regulator-always-on;
				regulator-mem-on;
			};

			ldo7_reg: LDO7 {
				regulator-compatible = "LDO7";
				regulator-name = "VPLL_1.0V_AP";
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <1000000>;
				regulator-always-on;
				regulator-mem-on;
			};

			ldo8_reg: LDO8 {
				regulator-compatible = "LDO8";
				regulator-name = "VMIPI_1.0V";
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <1000000>;
				regulator-mem-off;
			};

			ldo9_reg: LDO9 {
				regulator-compatible = "LDO9";
				regulator-name = "CAM_ISP_MIPI_1.2V";
				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <1200000>;
				regulator-mem-idle;
			};

			ldo10_reg: LDO10 {
				regulator-compatible = "LDO10";
				regulator-name = "VMIPI_1.8V";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-mem-off;
			};

			ldo11_reg: LDO11 {
				regulator-compatible = "LDO11";
				regulator-name = "VABB1_1.95V";
				regulator-min-microvolt = <1950000>;
				regulator-max-microvolt = <1950000>;
				regulator-always-on;
				regulator-mem-off;
			};

			ldo12_reg: LDO12 {
				regulator-compatible = "LDO12";
				regulator-name = "VUOTG_3.0V";
				regulator-min-microvolt = <3000000>;
				regulator-max-microvolt = <3000000>;
				regulator-mem-off;
			};

			ldo13_reg: LDO13 {
				regulator-compatible = "LDO13";
				regulator-name = "NFC_AVDD_1.8V";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-mem-idle;
			};

			ldo14_reg: LDO14 {
				regulator-compatible = "LDO14";
				regulator-name = "VABB2_1.95V";
				regulator-min-microvolt = <1950000>;
				regulator-max-microvolt = <1950000>;
				regulator-always-on;
				regulator-mem-off;
			};

			ldo15_reg: LDO15 {
				regulator-compatible = "LDO15";
				regulator-name = "VHSIC_1.0V";
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <1000000>;
				regulator-mem-off;
			};

			ldo16_reg: LDO16 {
				regulator-compatible = "LDO16";
				regulator-name = "VHSIC_1.8V";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-mem-off;
			};

			ldo17_reg: LDO17 {
				regulator-compatible = "LDO17";
				regulator-name = "CAM_SENSOR_CORE_1.2V";
				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <1200000>;
				regulator-mem-idle;
			};

			ldo18_reg: LDO18 {
				regulator-compatible = "LDO18";
				regulator-name = "CAM_ISP_SEN_IO_1.8V";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-mem-idle;
			};

			ldo19_reg: LDO19 {
				regulator-compatible = "LDO19";
				regulator-name = "VT_CAM_1.8V";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-mem-idle;
			};

			ldo20_reg: LDO20 {
				regulator-compatible = "LDO20";
				regulator-name = "VDDQ_PRE_1.8V";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-mem-idle;
			};

			ldo21_reg: LDO21 {
				regulator-compatible = "LDO21";
				regulator-name = "VTF_2.8V";
				regulator-min-microvolt = <2800000>;
				regulator-max-microvolt = <2800000>;
				regulator-mem-idle;
			};

			ldo22_reg: LDO22 {
				regulator-compatible = "LDO22";
				regulator-name = "VMEM_VDD_2.8V";
				regulator-min-microvolt = <2800000>;
				regulator-max-microvolt = <2800000>;
				regulator-always-on;
				regulator-mem-off;
			};

			ldo23_reg: LDO23 {
				regulator-compatible = "LDO23";
				regulator-name = "TSP_AVDD_3.3V";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-mem-idle;
			};

			ldo24_reg: LDO24 {
				regulator-compatible = "LDO24";
				regulator-name = "TSP_VDD_1.8V";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-mem-idle;
			};

			ldo25_reg: LDO25 {
				regulator-compatible = "LDO25";
				regulator-name = "LCD_VCC_3.3V";
				regulator-min-microvolt = <2800000>;
				regulator-max-microvolt = <2800000>;
				regulator-mem-idle;
			};

			ldo26_reg: LDO26 {
				regulator-compatible = "LDO26";
				regulator-name = "MOTOR_VCC_3.0V";
				regulator-min-microvolt = <3000000>;
				regulator-max-microvolt = <3000000>;
				regulator-mem-idle;
			};

			buck1_reg: BUCK1 {
				regulator-compatible = "BUCK1";
				regulator-name = "vdd_mif";
				regulator-min-microvolt = <850000>;
				regulator-max-microvolt = <1100000>;
				regulator-always-on;
				regulator-boot-on;
				regulator-mem-off;
			};

			buck2_reg: BUCK2 {
				regulator-compatible = "BUCK2";
				regulator-name = "vdd_arm";
				regulator-min-microvolt = <850000>;
				regulator-max-microvolt = <1500000>;
				regulator-always-on;
				regulator-boot-on;
				regulator-mem-off;
			};

			buck3_reg: BUCK3 {
				regulator-compatible = "BUCK3";
				regulator-name = "vdd_int";
				regulator-min-microvolt = <850000>;
				regulator-max-microvolt = <1150000>;
				regulator-always-on;
				regulator-boot-on;
				regulator-mem-off;
			};

			buck4_reg: BUCK4 {
				regulator-compatible = "BUCK4";
				regulator-name = "vdd_g3d";
				regulator-min-microvolt = <850000>;
				regulator-max-microvolt = <1150000>;
				regulator-boot-on;
				regulator-mem-off;
			};

			buck5_reg: BUCK5 {
				regulator-compatible = "BUCK5";
				regulator-name = "VMEM_1.2V_AP";
				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <1200000>;
				regulator-always-on;
			};

			buck6_reg: BUCK6 {
				regulator-compatible = "BUCK6";
				regulator-name = "VCC_SUB_1.35V";
				regulator-min-microvolt = <1350000>;
				regulator-max-microvolt = <1350000>;
				regulator-always-on;
			};

			buck7_reg: BUCK7 {
				regulator-compatible = "BUCK7";
				regulator-name = "VCC_SUB_2.0V";
				regulator-min-microvolt = <2000000>;
				regulator-max-microvolt = <2000000>;
				regulator-always-on;
			};

			buck8_reg: BUCK8 {
				regulator-compatible = "BUCK8";
				regulator-name = "VMEM_VDDF_3.0V";
				regulator-min-microvolt = <2850000>;
				regulator-max-microvolt = <2850000>;
				regulator-always-on;
				regulator-mem-off;
			};

			buck9_reg: BUCK9 {
				regulator-compatible = "BUCK9";
				regulator-name = "CAM_ISP_CORE_1.2V";
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <1200000>;
				regulator-mem-off;
			};
		};
	};
};

&sdhci2 {
	samsung,bus-width = <4>;
	samsung,timing = <1 2 3>;
	cd-gpios = <&gpx3 4 GPIO_ACTIVE_HIGH>;
	status = "okay";
};

&serial_2 {
	status = "okay";
};

&mshc_0 {
	samsung,bus-width = <8>;
	samsung,timing = <2 1 0>;
	samsung,removable = <0>;
	fifoth_val = <0x203f0040>;
	bus_hz = <400000000>;
	div = <0x0>;
	index = <4>;
	fifo-depth = <0x80>;
	status = "okay";
};

