menu "Extcon support"

config DM_EXTCON
	bool "Enable Driver Model for external connector drivers (UCLASS_EXTCON)"
	depends on DM
	---help---
	This config enables driver-model support for extcon devices, which provide
	an interface to get information about currently plugged in cables.
	For more information, see these files:
	- 'include/extcon.h'
	- 'drivers/extcon/extcon-uclass.c'

config DM_EXTCON_MAX77693
	bool "Enable Driver Model for MAX77693 extcon"
	depends on DM_EXTCON
	depends on DM_PMIC_MAX77693
	---help---
	This config enables the driver-model extcon uclass features
	for MAX77693.

endmenu
